doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title jqTooltipsteredImage Demo
        link(rel="stylesheet" href="../node_modules/tooltipster/dist/css/tooltipster.bundle.css")
        link(rel="stylesheet" href="./main.css")
        script(type="text/javascript" src="../node_modules/jquery/dist/jquery.js")
        script(type="text/javascript" src="../node_modules/jquery-ui-dist/jquery-ui.js")
        script(type="text/javascript" src="../node_modules/tooltipster/dist/js/tooltipster.bundle.js")
        script(type="text/javascript" src="../node_modules/tooltipster/dist/js/plugins/tooltipster/SVG/tooltipster-SVG.js")
        script(type="text/javascript" src="../node_modules/svg.js/dist/svg.js")
        script(type="text/javascript" src="../dist/jquery.tooltipstered-image.js")
    body
        div#demo1
        script(type="text/javascript" src="./index.js")
